:root {
  font-family: system-ui;
  font-size: 14pt;

  --bg: #eee;
  --fg: #111;
}

* {
  color: var(--fg);
  background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
  * {
    color: var(--bg);
    background-color: var(--fg);
  }
}

body {
  max-width: 40em;
  padding: 1em;
  margin: 0 auto;
}

table {
  margin: 1rem 0;
}