:root {
  font-family: system-ui;
  font-size: 14pt;

  --bg: #eee;
  --fg: #111;
}

* {
  color: var(--fg);
  background-color: var(--bg);
}

a:hover {
  filter: invert(1);
}

@media (prefers-color-scheme: dark) {
  * {
    color: var(--bg);
    background-color: var(--fg);
  }
}

body {
  max-width: 40em;
  padding: 1em;
  margin: 0 auto;
}

nav {
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
}

nav a {
  padding: .5em 1em;
  text-decoration: none;
}

blockquote {
  border: 1px solid;
  padding: 1em;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
}